@{
    ViewBag.Title = "Register User";
}

<div>   
    <div>
        <input class="btn-primary d-block col-lg-3 form-control" ; type="submit" name="btnSubmit" value="Ingresar" />
    </div>                
</div>