<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicesAccessCineNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegisterUser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52073/RegisterUser.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRegisterUser" contract="RegisterUser.IRegisterUser"
                name="BasicHttpBinding_IRegisterUser" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ServicesAccessCineNet.Properties.Settings>
            <setting name="ServicesAccessCineNet_WSServiceUser_ServiceUser"
                serializeAs="String">
                <value>http://localhost:52073/ServiceUser.svc</value>
            </setting>
        </ServicesAccessCineNet.Properties.Settings>
    </applicationSettings>
</configuration>