@{
    ViewBag.Title = "Register User";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewRegister</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
